*.o
*.so
*.dylib
*.dll
./Code/FNA-game-engine/vs/
./Code/FNA-game-engine/obj/
./Code/FNA-game-engine/Release/
*.csproj.user
*.vcxproj.user
.DS_Store
./Code/FNA-game-engine/xcuserdata/
*.xcworkspace/
*.xcscheme